body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.header{
    background-image:url("../images/logo.png");
    min-height: 113px;
}

footer{
    background: #2a2827 url(../images/bg_footer.png) repeat-x 0 0;
}