<div class="row-fluid">
  <p>user name: {{acccount.name}}</p>
  <p>email: {{acccount.email}}</p>
  <p>email: {{acccount.title}}</p>
  <a role="button" ui-sref="account.user.edit" class="btn btn-danger">Edit</a>
  <button role="button" ng-click="logout()" class="btn btn-danger">Log Out</button>
</div>


<div class="row-fluid">
  <h2>Matches</h2>
  <ul>
  <li ng-repeat="match in matches" >
     name: {{match.artsGroup}}, url: {{match.url}},
     description: {{match.description}},
    address: {{match.address}} {{match.address_2}},
    phone: {{match.phone}}
   </li>
  </ul>
</div>


