<div class="row">
    <div class="col-md-12">
        <p>Name: {{acccount.name}}</p>
        <p>Title: {{acccount.title}}</p>
        <a role="button" ui-sref="account.user.edit" class="btn btn-primary">Edit</a>
        <button role="button" ng-click="logout()" class="btn btn-info">Log Out</button>
    </div>
    <div class="col-md-12">
        <h2>Matches</h2>
        <ul class="list-group">
            <li ng-repeat="match in matches" class="list-group-item">
              <h4 class="list-group-item-heading">{{match.artsGroup}}</h4>
              <img ng-src="{{match.logo}}" class="img-responsive" alt="account.artsGroup"/>
    <p class="list-group-item-text">Description: {{match.description}}</p>
                
                <p><a href="{{match.url}}">{{match.url}}</a></p>
            </li>
        </ul>
    </div>
</div>
