<div class="row-fluid">
  <div class="col-md-12">
<h2>User Profile</h2>

    <p>
      <a ui-sref="account.user.home"  class="btn">user account home</a>
      <button role="button" ng-click="logout()" class="btn btn-danger">Log Out</button>
      <button role="button" ng-click="update()" class="btn">Update</button>
    </p>


    <form role="form" name="editForm" novalidate>
      <div class="col-xs-12 form-group">
      <p class="form-group">
        <label>Account ID</label>
        <br />{{account.uid}}
      </p>
       </div>
      <div class="col-xs-12 form-group">
        <p>
          <label>What is your title
            <input type="text" ng-model="account.title" id="userTitle" name="useTitle"  ng-required="true">
          </label>
        </p>
      </div>

      <abm-preference-selection preference-title="'What type of art group are you interested in?'" preference-list="filters.artgrouptype" model="account.preferences"></abm-preference-selection>
      <div class="col-xs-12 form-group">
       <div class="col-xs-6 form-group">
         <h5>How much time can you give as a board member?</h5>
         <select ng-model="account.time_availability"
            ng-options="item as item.name for item in time_availability
                  track by item.key">
         <option value="" ng-if="!account.time_availability">Please select one</option>
        </select>
       </div>
       <div class="col-xs-6 form-group">
       <h5>What donation can you make as a board member</h5>
         <select ng-model="account.minimum_donation"
              ng-options="item as item.name for item in minimum_donation
                   track by item.key">
        <option value="" ng-if="!account.minimum_donation">Please select one</option>
       </select>
       </div>
       </div>
      <abm-preference-selection preference-title="'Business Skills'" preference-list="filters.business_skills" model="account.preferences"></abm-preference-selection>
      <abm-preference-selection preference-title="'Can you make an In Kind Donation?'" preference-list="filters.in_kind_donation" model="account.preferences"></abm-preference-selection>
      <abm-preference-selection preference-title="'What is your age'" preference-list="filters.age" model="account.preferences" control-type="'radio'"></abm-preference-selection>
      <abm-preference-selection preference-title="'Demographic info'" preference-list="filters.demographic" model="account.preferences" control-type="'radio'"></abm-preference-selection>
      <abm-preference-selection preference-title="'Previously served'" preference-list="filters.previously_served" model="account.preferences" control-type="'radio'"></abm-preference-selection>
      <abm-preference-selection preference-title="'What benefits are valuable to you? Check all that apply'" preference-list="filters.benefits" model="account.preferences"></abm-preference-selection>

      <div class="col-xs-12 form-group">
    <button  class="btn btn-primary" ng-cloak ng-disabled="editForm.$invalid"
             ng-click="updateProfile()">Update profile</button>
  </div>

</form>
    </div>
  </div>
<p class="clearfix"></p>
<div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div>
