.light {
  background-color: @base-lighter;
}
.dark {
  background-color: @second-lighter;
}

.smooth {
  margin: 10px 0;

  h2 {
    margin: 30px 0;
  }
}

.navbar-fixed-top + * {
  margin-top: 50px;
}
.navbar-inverse {
  a {
    color: @base-lighter;
  }
}