//Custom Variables, overriding Bootstrap defaults as needed.
//
// Variables
// --------------------------------------------------


@gray-darkest:            #939598;
@gray-dark:				  #808991;
@gray-light:              #bcbfc0; // #777
@skyblue:                 #11A69C;
@pink:					  #ee2b7b;
@lightblue:               #29aae2;
@darkblue:                #009;
@lightOrange:             #BD600A;
@darkOrange:              #A64311;

@brand-primary:         @lightblue;
@brand-success:         #47B324;
@brand-info:            @skyblue;
@brand-warning:         @lightOrange;

@navbar-border-radius:    0;
@navbar-margin-bottom:    0;
@navbar-inverse-bg:       @gray-darkest;
@navbar-inverse-link-color: 		#E6E5E5;
@navbar-inverse-link-hover-color:	#FFF;

@carousel-text-shadow:                        none;
@carousel-caption-color:                      @lightblue;

@btn-primary-bg:	@pink;
@btn-primary-border: @pink;
@btn-primary-color: #FFF;

@btn-info-bg: 		@lightblue;
@btn-info-border: 	@lightblue;
@btn-info-color: 	#FFF;
