//Custom Variables, overriding Bootstrap defaults as needed.
//
// Variables
// --------------------------------------------------


@gray-darkest:            #020f14;
@gray-light:              #bcbfc0; // #777
@skyblue:                 #77c2d2;


@navbar-inverse-bg:       @gray-darkest;
