<div class="row">
  <div class="col-md-8">.

  <p>Art Group Name: {{account.artsGroup}}</p>
  <p>rep name: {{account.name}}</p>
    <img ng-src="{{account.logo}}" width="60px" height="auto" alt="account.artsGroup" /><br />
       <a ui-sref="account.artGroup.edit"  class="btn btn-primary">Edit Account</a>
  <button role="button" ng-click="logout()" class="btn btn-info">Log Out</button>
  </div>
  <div class="col-md-4">
  <h2>Matches</h2>
  <ul>
  <li ng-repeat="match in matches" >
     name: {{match.name}}, title: {{match.title}},  donation: {{match.minimum_donation.name}}
  </li>
  </ul>
</div>
</div>

