<div class="row">
    <div class="col-md-12">
        <p>
            <a ui-sref="account.artGroup.home" class="btn btn-primary">Account Home</a>
            <button role="button" ng-click="update()" class="btn btn-success">Update</button>
            <button role="button" ng-click="logout()" class="btn btn-info">Log Out</button>
        </p>
        <h3>Profile</h3>
        <form role="form" name="regForm" class="css-form" novalidate>
            <div class="col-xs-12 form-group">
                <p class="form-group">
                    <label>Account ID</label>
                    <br />{{account.uid}}
                </p>
                <div class="col-xs-6 form-group" ng-cloak>
                    <p class="form-group">
                        <label>Board Name:</label>
                        <input type="text" name="boardName"  required="required" ng-model="account.artsGroup" ng-minlength="4" ng-maxlength="50" class="form-control" />
                    <div ng-show="regForm.$submitted || regForm.boardName.$touched">
                        <span ng-show="regForm.boardName.$error.required">Please enter your board name.</span>
                        <span ng-show="regForm.boardName.$error.minlength">Minimum: 4 characters</span>
                        <span ng-show="regForm.boardName.$error.maxlength">Maximum: 50 characters</span>
                    </div>
                    <p>Board Logo</p>
                        <img ng-src="{{account.logo}}" width="60px" height="auto" alt="Art Group Photo" />
                        <br />
                        <input class="" type="file" accept="image/*" capture="camera" id="file-upload" style="display: inline-block;">
                    </p>
                </div>
                <div class="col-xs-6 form-group" ng-cloak>
                    <label for="contactName">Contact Name</label>
                    <input id="contactName" required="required" name="contactName" type="text"  ng-minlength="4" ng-maxlength="50"  ng-model="account.name" class="form-control" />
                    <div ng-show="regForm.$submitted || regForm.boardName.$touched">
                        <span ng-show="regForm.contactName.$error.required">Please enter your contact name.</span>
                        <span ng-show="regForm.contactName.$error.minlength">Minimum: 4 characters</span>
                        <span ng-show="regForm.contactName.$error.maxlength">Maximum: 50 characters</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <p class="form-group" ng-cloak>
                    <label for="address">Address</label>
                    <input id="address" name="address" type="text" ng-model="account.address" class="form-control" />
                </p>
                <p class="form-group" ng-cloak>
                    <label for="address_2">Address Continuation</label>
                    <input id="address_2" name="address_2" type="text" ng-model="account.address_2" class="form-control" />
                </p>
            </div>
            <div class="col-xs-12 form-group">
                <label>Tell Us About Your Arts Group </label>
<p>Tip: board prospects will see this. This is your chance to sell your group and your assets. Make it short, sweet and impactful.</p>
                    <textarea ng-model="account.description" required="required" name="description" ng-minlength="10"  ng-maxlength="400" class="form-control"></textarea>
                <div ng-show="regForm.$submitted || regForm.description.$touched">
                    <span ng-show="regForm.description.$error.required">Please enter a group description</span>
                    <span ng-show="regForm.description.$error.minlength">Minimum: 10 characters</span>
                    <span ng-show="regForm.description.$error.maxlength">Minimum: 400 characters</span>
                </div>

            </div>
            <div class="col-xs-12 form-group">
                <label>Your Website Address</label>
                <input type="url" required="required" ng-model="account.url" name="url" class="form-control" />
                <div ng-show="regForm.$submitted || regForm.url.$touched">
                    <span ng-show="regForm.url.$error.required">Please enter your site url</span>
                    <span ng-show="regForm.url.$error.url">Invalid url</span>
                </div>


            </div>
            <!-- Art group type -->
            <div class="col-xs-12">
                <h3>What's your discipline?</h3>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6 for-group" ng-repeat="(key, value) in filters.artgrouptype">
                    <input type="checkbox" ng-model="account.disciplines[key]" name="artgrouptype" value="{{key}}" />{{value.name}}
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <h3>How much time do your board members give each month?</h3>
                <select ng-model="account.time_availability" ng-options="item as item.name for item in time_availability
                  track by item.key" class="form-control">
                    <option value="" ng-if="!account.time_availability">Please select one</option>
                </select>
            </div>
            <div class="col-xs-12 form-group">
                <h3>What is your boards minimum financial contribution?</h3>
                <select ng-model="account.minimum_donation" ng-options="item as item.name for item in minimum_donation
                  track by item.key" class="form-control">
                    <option value="" ng-if="!account.minimum_donation">Please select one</option>
                </select>
            </div>
            <!-- Business SKills -->
            <div class="col-xs-12">
                <h3>What Business Skills can you use on your board?</h3>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6 for-group" ng-repeat="(key, value) in filters.business_skills">
                    <input type="checkbox" ng-model="account.business_skills[key]" name="business_skills" value="{{key}}" />{{value.name}}
                </div>
            </div>
            <!-- In Kind Donation -->
            <div class="col-xs-12">
                <h3>What In-Kind Donations can you use from Board Members?</h3>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6 for-group" ng-repeat="(key, value) in filters.in_kind_donation">
                    <input type="checkbox" ng-model="account.preferences[key]" name="in_kind_donation" value="{{key}}" />{{value.name}}
                </div>
            </div>
            <!-- Age -->
            <div class="col-xs-12">
                <h3>Whats your age range?</h3>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6 for-group" ng-repeat="(key, value) in filters.age">
                    <input type="checkbox" ng-model="account.preferences[key]" name="candidate_age" value="{{key}}" />{{value.name}}
                </div>
            </div>
            <!-- demographic -->
            <div class="col-xs-12">
                <h3>Demographic info about board members you are looking for?</h3>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6 for-group" ng-repeat="(key, value) in filters.demographic">
                    <input type="checkbox" ng-model="account.preferences[key]" name="candidate_demographinc" value="{{key}}" />{{value.name}}
                </div>
            </div>
            <!-- benefits  -->
            <div class="col-xs-12">
                <h3>What assets does your group have that are valuable to our members?</h3>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6 for-group" ng-repeat="(key, value) in filters.benefits">
                    <input type="checkbox" ng-model="account.preferences[key]" name="candidate_benefits" value="{{key}}" />{{value.name}}
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <button role="button" ng-click="update()" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>
<p class="clearfix"></p>
<div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div>
