<div class="row">
    <img src="images/nourish_artwork.png" alt="What is Arts Board Match" class="img-responsive">
</div>
<div class="row topminus30">
    <div class="col-lg-10 col-lg-offset-1 navbar-inverse">
        <h2>What is Arts Board Match and how does it work?</h2>
        <p>The Arts & Business Council launched Arts Board Match as an innovative program to ignite arts boards with new members and new vitality.  It’s like a dating website for board matches. With over 1,000 arts organizations, Miami-Dade has one of the most exciting cultural communities in the U.S.  Involvement on an arts board is only one click away.  Using a ground-breaking and innovative technological platform we harness the power of the internet to connect nonprofit arts boards needing board members to business professionals who wish to serve in these important leadership roles.  It’s the dynamic new resource you cannot ignore! Click the registration button to get started. </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
<h2>3 Simple Steps to your perfect match</h2>
<ul>

<li>Step 1: Register and tell us about yourself.</li>

<li>Step 2: You will see the arts groups that are a good match for you. Click on each link and get more info on each group. Select one or two that interest you and click match me.</li>

<li>Step 3: We will see arts groups that are a match for you. Curate the list and look the profiles for each. Decide the 2 or 3 you want to meet with. Click match me and they will receive an email saying the have a match. The next step is a phone meeting. You might want to download the Questions to Ask form on the <a ui-sref="resources">Resources</a> page.</li>


</ul>       
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <img src="images/artwork.png" alt="art board recruitment" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h2>What does a Board do?</h2>
        <p> The board is the governing body for the nonprofit. It sets policy and provides resources for the group. Here is an overview. Setting the policy for the organization.
            <ul>
<li>        Creating or updating the mission and vision statements.

<li>        Determining the organization’s programs and services.

<li>       Developing and approving the strategic plan at annual board planning retreat.
</ul>
 
Developing Resources for the organization:
<ul>
<li>        Developing and approving the annual budget

<li>        Fundraising, by directly donating to the non-profit and soliciting donations from others.

<li>        Raising sufficient funds for the organization.

<li>        Having a written giving policy for the board
</ul>
 
Monitoring the organization’s operations:
<ul>
<li>        Soliciting and reviewing program evaluations.

<li>        Working with and providing support to the executive
Troubleshooting as necessary.

 
Serving as a public figure for the organization
<li>        Advocating for the organization.

<li>        Doing outreach with your clients, colleagues and with other organizations on behalf of the group.
</ul>
 
Fulfilling other board responsibilities
<ul>
<li>        Documenting policies and decisions to create an organizational memory.

<li>        Preparing for and attending board meetings.

<li>        Researching and discussing issues before decisions are made.

<li>        Keeping the board vibrant and active by suggesting and vetting potential new members
</ul>
 
<a href="pdf/What_Does_A_Board_Do.pdf" target="_new" class="btn btn-success">CLICK HERE TO READ MORE </a></p>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h2 class="heading-alt">ABOUT THE ARTS & BUSINESS COUNCIL</h2>
        <p>  For 30 years the Arts & Business Council has led the movement to keep the arts in business by sustaining the cultural community through high-impact collaborations. We provide significant capacity building to Miami-Dade’s cultural organizations helping grow the arts grow into a billion dollar industry. Through research, training and arts engagement, ABC serves as an effective catalyst for building synergistic alliances that give business a competitive advantage. As Miami’s only organization that leverages the arts for economic vitality, the Arts & Business Council is committed to nurturing significant outreach with business that provide meaningful engagement opportunities with the arts to inspire employees, stimulate innovation and foster creativity. Want to connect with the arts? Click here arts at <a href="http://www.ArtsBizMiami.org" target="_new">www.ArtsBizMiami.org </a></p>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <img src="images/readytojump.png" alt="joining an arts board" class="img-responsive">
    </div>
</div>
<div class="row top30">
    <div class="col-lg-4 col-lg-offset-4">
        <!-- FIRST COL -->
        <a  ui-sref="candidateRegister" class="btn btn-primary btn-lg col-lg-12" style="margin-bottom:4px;white-space: normal;">REGISTER</a>
    </div>
</div>
<div class="row top30">
    <div class="col-lg-10 col-lg-offset-1">
    <h3 style="    text-align: center;">ARTSBOARDMATCH.ORG IS IGNITED BY OUR PARTNERS:</h3>
    </div>
<div class="row">
    
    <div class="col-lg-4 col-lg-offset-2">
        <img src="images/kflogo.png" alt="Knight Foundation" class="img-responsive">
    </div>
    <div class="col-lg-4">
        <img src="images/RTEmagicC_miami_dade_logo.JPG.jpg" alt="Miami Dade" class="img-responsive" >
    </div>
</div>