<div class="row">
    <h2>Art Group Registration Page</h2>
    <form role="form" name="regForm" novalidate>
        <div class="col-xs-6 form-group">
            <label for="loginEmail">Email</label>
            <input id="loginEmail" ngRequired="true" name="email" type="email" ng-model="email" class="form-control" />
        </div>
        <div class="col-xs-6 form-group">
            <label for="loginPass">Password</label>
            <input id="loginPass" ngRequired="true" name="pass" type="password" ng-model="pass" class="form-control" />
        </div>
        <div class="col-xs-6 form-group" ng-cloak>
            <label for="artsGroup">Arts Group Name</label>
            <input id="artsGroup" ngRequired="true" name="artsGroup" type="text" ng-model="account.artsGroup" class="form-control" />
        </div>
        <div class="col-xs-6 form-group" ng-cloak>
            <label for="account_name">Name</label>
            <input id="account_name" ngRequired="true" name="account_name" type="text" ng-model="account.name" class="form-control" />
        </div>
        <div class="col-xs-12 form-group">
            <label>Tell Us About Your Arts Group</label>
            <p>Tip: board prospects will see this. This is your chance to sell your group and your assets. Make it short, sweet and impactful.</p>
            <textarea  ng-model="account.description" name="description" class="form-control" ></textarea>
            
        </div>
        <div class="col-xs-12 form-group">
            <label>Your Website Address?</label>
                <input type="text" ng-model="account.url"  name="url" class="form-control"  />
            
        </div>
        <abm-preference-selection preference-title="'What is your discipline?'" preference-list="filters.artgrouptype" model="account.match_preferences"></abm-preference-selection>


<button type="button" class="btn btn-primary" ng-click="register(email, pass)"  ng-disabled="regForm.$invalid">Register</button>
</form>
</div>