<div class="row">
    <h2>Get Inspired by Stories of Art Board Leaders making an impact.</h2>
    <div class="col-lg-4">
        <div>
            <a href="https://www.youtube.com/watch?v=TzznKOnlI9c" data-toggle="lightbox" data-gallery="youtubevideos">
                <img src="images/RTEmagicC_rober.jpg.jpg" alt="Robert Lynch">
            </a>
            <h6>Robert Lynch</h6>
            <p>President and CEO of Americans for the Arts.</p>
        </div>
        <div>
            <a href="https://youtu.be/TzznKOnlI9c?t=111" data-toggle="lightbox" data-gallery="youtubevideos">
                <img src="images/RTEmagicC_israel.jpg.jpg" alt="Israel Sands"></a>
            <h6>Israel Sands</h6>
            <p>Board member for Next at 19th and owner of Israel Sands Estate Planning</p>
        </div>
        <div>
            <a href="https://youtu.be/TzznKOnlI9c?t=65" data-toggle="lightbox" data-gallery="youtubevideos">
                <img src="images/RTEmagicC_raul.jpg.jpg" alt="Raul Garcia"></a>
            <h6>Raul Garcia</h6>
            <p>Past board chair and current board member of the Arts & Business Council and an Associate Principle with Kaufman & Rossin</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div>
            <a href="https://youtu.be/TzznKOnlI9c?t=16" data-toggle="lightbox" data-gallery="youtubevideos">
                <img src="images/RTEmagicC_steve.jpg.jpg" alt="Steve Eisenberg"></a>
            <h6>Steve Eisenberg</h6>
            <p>Board chair of New Theatre and partner with the law firm of Lipscomb, Eisenberg &amp; Baker</p>
        </div>
        <div>
            <a href="https://youtu.be/_YVYoFaWZTc?t=71" data-toggle="lightbox" data-gallery="youtubevideos">
                <img src="images/RTEmagicC_bill.jpg.jpg" alt="Bill Fuller"></a>
            <h6>Bill Fuller</h6>
            <p> The Barlington Group on board of Viernes Culturales</p>
        </div>
        <div>
            <a href="https://youtu.be/_YVYoFaWZTc?t=31" data-toggle="lightbox" data-gallery="youtubevideos">
                <img src="images/RTEmagicC_keith.jpg.jpg" alt="Keith Hart"></a>
            <h6>Keith Hart</h6>
            <p>American Express on board of Gay Men’s Chorus</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div>
            <a href="https://www.youtube.com/watch?v=7sO5HHfna20" data-toggle="lightbox" data-gallery="youtubevideos">
                <img src="images/RTEmagicC_george.jpg.jpg" alt="George Neary"></a>
            <h6>George Neary</h6>
            <p>VP Greater Miami Convention & Visitors Bureau on the board of DASH</p>
        </div>
        <div>
            <a href="https://www.youtube.com/watch?v=_YVYoFaWZTc" data-toggle="lightbox" data-gallery="youtubevideos">
                <img src="images/RTEmagicC_amy.jpg.jpg" alt="Amy Sherit"></a>
            <h6>Amy Sherit</h6>
            <p>Publisher of Around Town Magazine on board Arts & Business Council</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <img src="images/readytojump.png" alt="joining an arts board" class="img-responsive">
    </div>
</div>
<div class="row top30">
    <div class="col-lg-4 col-lg-offset-4">
        <!-- FIRST COL -->
        <a ui-sref="artGroupRegister" class="btn btn-primary btn-lg col-lg-12" style="margin-bottom:4px;white-space: normal;">REGISTER</a>
    </div>
</div>
