
<h2>Step One: Start Here to find a match</h2>


<form role="form" name="regForm" novalidate>
  <p class="form-group">
    <label for="name">Name</label>
    <input id="name" ngRequired="true" name="name" type="text" ng-model="name" class="form-control" />
  </p>
  <p class="form-group">
    <label for="loginEmail">Email</label>
    <input id="loginEmail" ngRequired="true" name="email" type="email" ng-model="email" class="form-control" />
  </p>
  <p class="form-group">
    <label for="loginPass">Password</label>
    <input id="loginPass" ngRequired="true"  name="pass" type="password" ng-model="pass" class="form-control" />
  </p>
  <p>
    <button  class="btn btn-primary" ng-cloak ng-disabled="regForm.$invalid"
            ng-click="createAccount(email, pass, confirm)">Create Account</button>
  </p>
</form>

