<div class="row">
    <div class="col-md-6">
        <h2>Contact Us</h2>

        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-warning">Send message</button>
        </form>


    </div>
    <div class="col-md-6">

        <h3>Phone & Address</h3>

        <address>
            <strong>Arts & Business Council of Miami</strong><br>
            PO Box 012100<br>
            Miami, Florida  33101<br>
            <abbr title="Phone">P:</abbr> (305) 326-1011
        </address>

        <address>
            <strong>laura@artsbizmiami.org</strong><br>
            <a href="mailto:laura@artsbizmiami.org">laura@artsbizmiami.org</a>
        </address>

        <a href="What_Does_A_Board_Do.pdf"><img src="images/img_what.jpg" alt="What do Board Members do?"
                                                class="img-responsive"></a>


    </div>


</div>
