<div class="row">
    <img src="images/inspired-professionals.png" alt="What is Arts Board Match" class="img-responsive">
</div>
<div class="row topminus30">
    <div class="col-lg-10 col-lg-offset-1 navbar-inverse text-center">
        <p class="lead">Arts Board Match was developed to help Miami’s nonprofit cultural groups connect with business professionals interested in serving on an arts board. ARTS GROUPS ARE REQUIRED TO ATTEND A BUILDING A BETTER BOARD WORKSHOP BEFORE YOU CAN BE FEATURED. If you have not yet attended a workshop call ABC at 305-326-1011 so we can sign you up. </p>
<!--         <p><a ui-sref="artGroupRegister" class="btn btn-success btn-lg" style="margin-bottom:4px;white-space: normal;">Get started</a></p> -->
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h2>Find your perfect match</h2>
        <p> We want to help your arts groups have access to new board members. To provide you with some good “matches we need some information from you. First we need you to create a user name and password so you can access your matches and keep track of your entries.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <img src="images/infographic-artgroups.png" alt="art board recruitment" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h2 class="heading-alt">Building a better board workshop</h2>
        <p>   Workshop program for arts executives and board chairs to develop a board recruitment strategy, create board recruitment materials and provide an overview of governing models.  At the conclusion of the program arts groups will complete a Board Recruitment Proﬁle.  Session includes a board assessment tool to help determine the strengths and weaknesses of the governing board. Participating groups work with a graphic designer and web designer to design their Board Snapshot for the website. This brief proﬁle will provide potential members with an overview of the organizations board commitments and openings.   Groups must participate in the workshop and complete their Snapshot to be included on the website. </p>
    </div>
</div>
<div class="row top30">
<!--     <div class="col-lg-5 col-lg-offset-1">
        <a ui-sref="artGroupRegister" class="btn btn-primary btn-lg col-lg-12" style="margin-bottom:4px;white-space: normal;">ART GROUPS REGISTER</a>
    </div> -->
    <div class="col-lg-5 col-lg-offset-4">
        <!-- FIRST COL -->
        <a ui-sref="resources" class="btn btn-info btn-lg col-lg-12" style="margin-bottom:4px;white-space: normal;">RESOURCES</a>
    </div>
</div>