<div class="row">
    <div class="col-md-6">
        <h2>Info & Links</h2>

        <h3>Toolkits for Building Better Boards</h3>

        <!--TODO: add links to PDFS -->
        <p><a href="#">What-Does-A-Board-Do.pdf</a></p>

        <p><a href="#">Assess-And-Conquer.pdf</a></p>

        <p><a href="#">Board-Recruitment.pdf</a></p>

        <p><a href="#">Board-Management.pdf</a></p>

        <p><a href="#">Toolkit-Credits.pdf</a></p>


        <h3>Arts mean Business Forums</h3>

        <p>Corporations are looking for a competitive edge and ways to inspire greater innovation from their employees.
            While, in recent years, much has been written about creativity becoming the currency of the brave new world
            of worker empowerment and learning at work, and about the need to attract a new creative class to our
            cities, relatively little attention has been given to ways we might nurture or otherwise invest in local
            creative capital. The Arts Mean Business Forums expands innovative thinking with networking and featured
            panel discussions with invited speakers from the corporate and cultural communities.</p>

        <p>Find out more at <a href="http://www.artsbizmiami.org" target="_blank">ArtsBizMiami.org</a></p>


    </div>
    <div class="col-md-4">

        <img src="../images/arts%20board%20toolkit%20graphic.jpg" alt="Arts Board Toolkit"
                                                class="img-responsive">

        <h3>Highlight Sponsor</h3>

        <p><a href="http://classicalsouthflorida.publicradio.org/listen/classical/" target="_blank"><img
                src="images/RTEmagicC_banner-300x250-radio_01.jpg.jpg" alt="Classical Radio South Florida"
                class="img-responsive"></a></p>


    </div>


</div>
