<div class="row">
<div class="col-lg-5">
    <!-- Carousel
    ================================================== -->
    <div id="carousel1" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel1" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="images/slider_1.jpg" alt="First slide">
            </div>
            <div class="item">
                <img class="second-slide" src="images/slider_1.jpg" alt="Second slide">
            </div>
        </div>
        <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel1" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- /.carousel -->

    <h2>You will get back more than you give</h2>

    <p>Board members serve arts organizations by bringing connections, talent, experience, passion, perspective,
        funding, assets and more. Serving on a nonprofit board is a great way for business professionals to make an
        impact. How will you benefit?
        Build your professional brand
        Develop leadership skills
        Networking and business development
        Expand your creative connections working directly with artists and arts executives
        Professional development
        Give back and strengthen the cultural community
        Meet new friends and colleagues that share your passions
        Learn more about an arts discipline you love by going behind the scenes
        Share the knowledge, share your business skills
        Click here to take a self assessment and find out what benefits of board membership you value!</p>

    <h2>One Billion Reasons Why the Arts work</h2>

    <p>When the board and volunteers of over 1,000 non-profit arts groups in Miami-Dade donned clip boards to conduct
        surveys with their audience and patrons they wanted to showcase that the arts are an essential part of the
        economy. Their hard work paid off in a big way. The big news, the drum-roll news, and the exciting results: the
        arts in Miami-Dade have an impressive annual economic impact of 1.1 billion dollars. From Aventura to Homestead,
        from Coral Gables to Miami Beach, from downtown to the seashore the arts are everywhere. There are more than
        1,200 non-profit arts groups in our community and they employ more than 22,000 full time professionals and
        workers. “Miami-Dade is a great example of all segments working together for not only economic benefit but
        artistic as well. We live in a world class global community that is not only naturally beautiful, but also
        filled with magnificent art and amazing performing groups that showcase our unique past and our diversity while
        also supporting a cultural life exploding with sounds and sights of an America of the future. There are
        countless examples like these, and the notion that the arts stimulate the economy in creative and often
        unrecognized ways is undeniable.</p>

    <h2>One Minute Interviews with Board Members</h2>

    <div class="row">
        <div class="col-lg-6">
            <div>
                <img src="images/RTEmagicC_rober.jpg.jpg" alt="Robert Lynch">
                <h6>Robert Lynch</h6>

                <p>President and CEO of Americans for the Arts.</p>
            </div>
            <div>
                <img src="images/RTEmagicC_israel.jpg.jpg" alt="Israel Sands">
                <h6>Israel Sands</h6>

                <p>Board member for Next at 19th and owner of Israel Sands Estate Planning</p>
            </div>
            <div>
                <img src="images/RTEmagicC_raul.jpg.jpg" alt="Raul Garcia">
                <h6>Raul Garcia</h6>

                <p>Past board chair and current board member of the Arts & Business Council and an Associate Principle
                    with Kaufman & Rossin</p>
            </div>
            <div>
                <img src="images/RTEmagicC_steve.jpg.jpg" alt="Steve Eisenberg">
                <h6>Steve Eisenberg</h6>

                <p>Board chair of New Theatre and partner with the law firm of Lipscomb, Eisenberg &amp; Baker</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <img src="images/RTEmagicC_george.jpg.jpg" alt="George Neary">
                <h6>George Neary</h6>

                <p>VP Greater Miami Convention & Visitors Bureau on the board of DASH</p>
            </div>
            <div>
                <img src="images/RTEmagicC_amy.jpg.jpg" alt="Amy Sherit">
                <h6>Amy Sherit</h6>

                <p>Publisher of Around Town Magazine on board Arts & Business Council</p>
            </div>
            <div>
                <img src="images/RTEmagicC_keith.jpg.jpg" alt="Keith Hart">
                <h6>Keith Hart</h6>

                <p>American Express on board of Gay Men’s Chorus</p>
            </div>
            <div>
                <img src="images/RTEmagicC_bill.jpg.jpg" alt="Bill Fuller">
                <h6>Bill Fuller</h6>

                <p> The Barlington Group on board of Viernes Culturales</p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-7">

    <!-- Carousel
================================================== -->

    <div id="carousel-reason">
        <div id="icon-reason"></div>
        <h3>Play a leading role</h3>

        <h2>Top Five Reasons to Join an Arts Board</h2>

        <div id="carousel2" class="carousel slide margin-bottom-sm" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel2" data-slide-to="1"></li>
                <li data-target="#carousel2" data-slide-to="2"></li>
                <li data-target="#carousel2" data-slide-to="3"></li>
                <li data-target="#carousel2" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <h5>#1. Dynamic partnerships that bridge the arts and business sectors strengthen the
                                cultural and economic vitality of the Region.</h5>

                            <p> Build valuable networks and relationships for business development and outreach with
                                fellow board members and the organization's donors and members.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h5>#2. Develop new skills and new contacts that will increase your value to your
                                company. </h5>

                            <p>Work directly with artists and arts executives and contribute in a meaningful way to
                                strengthen an important organization.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h5>#3. Arts board members work directly with artists and the creative class impacting their
                                own creativity. </h5>

                            <p>Learn to look at the world and your business in a different way.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h5>#4. Business professionals broaden their leadership skills </h5>

                            <p>by serving as consultants to nonprofit organizations and gain first-hand knowledge of the
                                region's cultural landscape. Grow as a leader the only way you can – through
                                experience!</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h5>#5. Dynamic partnerships that bridge the arts and business sectors strengthen the
                                cultural and economic vitality of the Region.</h5>

                            <p>Build valuable networks and relationships for business development and outreach with
                                fellow board members and the organization's donors and members.</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- /.carousel -->
        </div>
        <h3>Step One: Start Here to Find a Match</h3>

        <form  ng-hide-auth=""  name="regForm" novalidate ng-controller="UserRegisterCtrl">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" ng-model="user.name" required placeholder="Name" ngMinlength="4" ngMaxlength="50">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" ng-model="user.email" required placeholder="Email" ngMinlength="4">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required ng-model="user.password" placeholder="Password" ngMinlength="4" ngMaxlength="20">
            </div>
          <div class="form-group">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirm" match="user.password" required name="passwordConfirm" placeholder="Confirm Password">
            <div ng-show="regForm.confirm.$error.match">Passwords do not match!</div>
          </div>
            <div class="form-group">
                <label for="profileImage">Profile Image</label>
                <input type="file" id="profileImage">

                <p class="help-block">Add Your Profile Image
                    File type must be .jpg, .gif, or .png
                    1mb Max</p>
            </div>
            <div class="checkbox">
                <label>
                    <input  type="checkbox" ng-model="terms" ng-required="!regForm.terms.length"> I accept the <a ui-sref="terms">Terms & Conditions</a>
                </label>
            </div>
            <button type="submit" class="btn btn-warning"
                    ng-cloak ng-disabled="regForm.$invalid"
                    ng-click="createAccount(user.email, user.password, user.confirm)">Register</button>
            <p>Already registered? <a ui-sref="userLogin">Login to your account</a></p>
        </form>
        <div ng-show-auth="" is-user="true">
          <a ui-sref="account.user.home">my matches</a> |
          <a ui-sref="account.user.edit">edit you account</a> |
          <a href="" ng-click="logout()">Log out</a>

        </div>
        <a href="pdf/What_Does_A_Board_Do.pdf"><img src="images/img_what.jpg" alt="What do Board Members do?" class="img-responsive"></a>

        <h2>Highlight Sponsor</h2>
        <a href="http://classicalsouthflorida.publicradio.org/listen/classical/" target="_blank">
            <img src="images/RTEmagicC_banner-300x250-radio_01.jpg.jpg" alt="Classical Radio South Florida"
                 class="img-responsive">
        </a>

        <h4>Board Service Self Test</h4>
        <p>Take this short self test to determine what benefits you most value from board service to help you determine
            what type of board you want to join.</p>
        <p> <a href="http://artsboardmatch.org/fileadmin/pdf/self_test_-_should_you_serve.pdf" class="btn btn-warning text-uppercase">Take the self test now!</a></p>

        <h4>Jump on Board Leadership Seminars</h4>

        <p>The Arts & Business Council has developed a 90 minute leadership seminar for business professionals interested in serving on non-profit boards. <a ui-sref="about"> Read More >> </a></p>

        <h4>Serving the Arts for 25 years</h4>

        <p> The Arts & Business Council serves as a vigorous and effective catalyst for building working partnerships between Miami’s corporate and cultural communities. <a ui-sref="about"> Read More >> </a></p>
    </div>
</div>
</div>



    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>What does a board do?</h2>

            <p>The main legal responsibilities of a nonprofit board are often summarized in the "three Ds", Duty of Care, Duty of Loyalty, and Duty of Obedience. </p>

            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>What is the function of the board?</h2>

            <p>You may have heard it said that, "The board sets policy and the staff carries it out." </p>

            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Managing vs Governing</h2>

            <p>Though the board’s role is often described as "managing the affairs of the organization", there is a fundamental problem
                with this description .</p>

            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
    </div>

    <hr>

