<div class="row">
    <div class="col-lg-12">
        <!-- Carousel
    ================================================== -->
        <div id="carousel1" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel1" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide" src="images/slider_1.gif" alt="Arts Board Match">
                </div>
                <div class="item">
                    <img class="second-slide" src="images/nourish_artwork.png" alt="Art Group Boards">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel1" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- /.carousel -->
    </div>
</div>
<div id='abmAuthContainer' class="row top30" ng-hide-auth="">
    <div class="col-lg-5 col-lg-offset-1 col-md-6">
        <!-- FIRST COL -->
        <a ui-sref="candidateRegister" class="btn btn-primary btn-lg col-lg-12" style="margin-bottom:4px;white-space: normal;">SIGN UP</a>
        Already have an account?
         <a ui-sref="userLogin" class="btn btn-success btn-lg col-lg-12" style="margin-bottom:4px;white-space: normal;">LOG IN</a>
    </div>

    <div class="col-lg-5 col-md-6">
        <!-- FIRST COL -->
        <a ui-sref="about" class="btn btn-info btn-lg col-lg-12" style="margin-bottom:4px;white-space: normal;">LEARN MORE</a>
    </div>
</div>
<div class="row top10">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>THE PATH TO YOUR PERFECT BOARD MATCH</h2>
            <img class="os-animation img-responsive" data-os-animation="fadeInRight" data-os-animation-delay="1s" src="images/infographic_01.gif" alt="Volunteer on an Arts Board in Miami">
            <img class="os-animation img-responsive" data-os-animation="fadeInLeft" data-os-animation-delay="2s" src="images/infographic_02.gif" alt="Volunteer on an Arts Board in Miami">
            <img class="os-animation img-responsive" data-os-animation="fadeInRight" data-os-animation-delay="3s" src="images/infographic_03.gif" alt="Volunteer on an Arts Board in Miami">
    </div>
</div>
<div class="row top10">
    <div class="col-lg-10 col-lg-offset-2">
        <h2>Top 5 Reasons to Join an Arts Board</h2>
<ol     style="font-size: 18px;">
<li>Build valuable networks and relationships for business development and

outreach.

<li>Work directly with artists and the creative class impacting your own

vision and creativity and gain first-hand knowledge of the region's cultural

landscape.

<li>Invite your clients, colleagues and prospects to unique social events and

cultural programs.

<li>Broaden your leadership skills. Grow as a leader the only way you can –

through experience!

<li>Develop new skills and new contacts that will increase your value to your

company and in the job market.
</ol></div>
</div>
<div class="row top10">
    <div class="col-lg-10 col-lg-offset-2">
<h2>8 GREAT THINGS BOARD MEMBERS DO</h2>
<ol style="font-size: 18px;">
<li>Work behind the scenes with arts leaders and artists

<li>Be a passionate advocate

<li>Share skills and connections

<li>Set the policy, mission and strategies

<li>Set the annual budget

<li>Raise sufficient funds for the organization to meet its goals

<li>Attend meetings, events and programs of the organization
<li>Keep the board vibrant and active
</ol>
    </div>
</div>
<div class="row navbar-inverse top10 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s">
    <div class="col-lg-8 col-lg-offset-2">
        <img src="images/getbackmore.png" alt="Volunteer on an Arts Board in Miami" class="img-responsive">
        <p>Board members serve arts organizations by bringing connections, talent, experience, passion, perspective, funding, assets and more. Serving on a nonprofit board is a great way for business professionals to make an impact. </p>
    </div>
</div>
<hr>
