<div class="row">
    <h2>Partners</h2>
    <div class="col-md-3">
        <p>
            <a href="http://www.artsbizmiami.org/" target="_blank"><img src="images/artsbusinesscouncil_logo.png" alt="test2" class="img-responsive"></a>
        </p>
        <p><a href="http://www.artsbizmiami.org" target="_blank">Arts and Business Council of Miami</a>
        </p>
    </div>
    <div class="col-md-3">
        <p>
            <a href="http://www.citybeautiful.net/" target="_blank"><img src="images/RTEmagicC_coral-gables-logo240x146.jpg.jpg" alt="Coral Gables" class="img-responsive"></a>
        </p>
        <p><a href="http://www.citybeautiful.net/" target="_blank">Coral Gables</a>
        </p>
    </div>
    <div class="col-md-3">
        <p>
            <a href="http://miamidade.gov/" target="_blank"><img src="images/RTEmagicC_miami_dade_logo.JPG.jpg" alt="Miami-Dade County" class="img-responsive"></a>
        </p>
        <p><a href="http://miamidade.gov/" target="_blank">Miami-Dade County</a>
        </p>
    </div>
        <div class="col-md-2">
            <a href="http://dos.myflorida.com/cultural/">
            <img src="images/cultural_affairs.gif" alt="Cultural Affairs" class="img-responsive">
            </a>
            <p><a href="http://dos.myflorida.com/cultural/" target="_blank">Cultural Affairs</a>
        </p>
        </div>
</div>
</div>
