<div class="row">
    <div class="col-md-6">
        <h2>Partners</h2>


        <p><a href="http://www.artsbizmiami.org/" target="_blank"><img
                src="images/artsbusinesscouncil_logo.png" alt="test2" class="img-responsive"></a>
        </p>

        <p><a href="http://www.artsbizmiami.org" target="_blank">Arts and Business Council of Miami</a>
        </p>

        <p><a href="http://classicalsouthflorida.publicradio.org/" target="_blank"><img
                src="images/RTEmagicC_classical_fm897.jpg.jpg" alt="Classical radio sponsor" class="img-responsive"></a>
        </p>

        <p><a href="http://classicalsouthflorida.publicradio.org/" target="_blank">Classical South Florida</a>
        </p>

        <p><a href="http://www.citybeautiful.net/" target="_blank"><img
                src="images/RTEmagicC_coral-gables-logo240x146.jpg.jpg" alt="Coral Gables" class="img-responsive"></a>
        </p>

        <p><a href="http://www.citybeautiful.net/" target="_blank">Coral Gables</a>
        </p>

        <p><a href="http://miamidade.gov/" target="_blank"><img src="images/RTEmagicC_miami_dade_logo.JPG.jpg"
                                                                alt="Miami-Dade County" class="img-responsive"></a>
        </p>

        <p><a href="http://miamidade.gov/" target="_blank">Miami-Dade County</a>
        </p>

        <p><a href="http://arts.gov/" target="_blank"><img src="images/RTEmagicC_NEA-logo-color.jpg.jpg"
                                                           alt="Arts.gov" class="img-responsive"></a>
        </p>

        <p><a href="http://arts.gov/" target="_blank">Arts.gov</a></p>

    </div>
    <div class="col-md-6">
        <h3>Presenting Sponsors</h3>
        <p><a href="http://www.knightfoundation.org/" target="_blank"><img src="images/RTEmagicC_knight-logo-3000px-blue.jpg.jpg" alt="Presenting Sponsor Knight Foundation" class="img-responsive"></a>
        </p>

    </div>


</div>


