<div class="row">
    <div class="col-md-4">
        <h2>Prospective Board Members</h2>

    </div>
        <div class="col-md-4">
        <h2>Current Board Members</h2>

    </div>
        <div class="col-md-4">
        <h2>Arts Group Toolkit</h2>

    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <img src="images/readytojump.png" alt="joining an arts board" class="img-responsive">
        </div>
    </div>
    <div class="row top30">
        <div class="col-lg-4 col-lg-offset-4">
            <!-- FIRST COL -->
            <a  ui-sref="candidateRegister" class="btn btn-primary btn-lg col-lg-12" style="margin-bottom:4px;white-space: normal;">REGISTER</a>
        </div>
    </div>
</div>
