<div class="row">
    <div class="col-md-12">
        <h2>Info & Links</h2>
        <h3>Toolkits for Building Better Boards</h3>
        <!--TODO: add links to PDFS -->
        <p><a href="pdf/What_Does_A_Board_Do.pdf" target="_new">What-Does-A-Board-Do.pdf</a></p>
        <p><a href="pdf/Assess-And-Conquer.pdf" target="_new">Assess-And-Conquer.pdf</a></p>
        <p><a href="pdf/Board-Recruitment.pdf" target="_new">Board-Recruitment.pdf</a></p>
        <p><a href="pdf/Board-Management.pdf" target="_new">Board-Management.pdf</a></p>
        <p><a href="pdf/Toolkit-Credits.pdf" target="_new">Toolkit-Credits.pdf</a></p>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <img src="images/readytojump.png" alt="joining an arts board" class="img-responsive">
        </div>
    </div>
    <div class="row top30">
        <div class="col-lg-4 col-lg-offset-4">
            <!-- FIRST COL -->
            <a ui-sref="artGroupRegister" class="btn btn-primary btn-lg col-lg-12" style="margin-bottom:4px;white-space: normal;">REGISTER</a>
        </div>
    </div>
</div>
