<div class="row top30">
    <div class="col-md-3">
         <a href="pdf/BOARD CANDIDATES.pdf"><img src="images/candidates_toolkit.jpg" class="img-responsive" alt="Board Member Candidates Toolkit">
        <h3>Prospective Board Members</h3></a>
    </div>
    <div class="col-md-3">
         <a href="pdf/CURRENT BOARD MEMBERS.pdf"><img src="images/board_member_toolkit.jpg" class="img-responsive" alt="Board Member Toolkit">
        <h3>Current Board Members</h3></a>
    </div>
    <div class="col-md-3">
        <a href="pdf/ARTS TOOLS KIT.pdf"><img src="images/artsgroup_ toolkit.jpg" class="img-responsive" alt="Art Group Toolkit">
        <h3>Arts Group Toolkit</h3></a>
    </div>
    <div class="col-md-3">
         <a href="pdf/BBB_Workshop_Worksheets.pdf"><img src="images/bbb_toolkit.jpg" class="img-responsive" alt="Better Business Bureau Toolkit">
        <h3>Building a Better Board Toolkit</h3></a>
    </div> 
    </div>   
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <img src="images/readytojump.png" alt="joining an arts board" class="img-responsive">
        </div>
    </div>
    <div class="row top30">
        <div class="col-lg-4 col-lg-offset-4">
            <!-- FIRST COL -->
            <a ui-sref="candidateRegister" class="btn btn-primary btn-lg col-lg-12" style="margin-bottom:4px;white-space: normal;">REGISTER</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <img src="images/cultural_affairs.gif" alt="Cultural Affairs Logo" class="img-responsive" width="300">
        </div>
    </div>    
</div>
